


.container {
   max-width: 1200px;
   padding: 0 15px;
   width: 100%;
   margin: 0 auto;
   @media screen and (max-width: 1199px) {
      max-width: 1199px;
   }
   @media screen and (max-width: 767px) {
      max-width: 767px;
      padding: 0 10px;
   }
}

.logo {
   margin: 38px auto;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.5em;
   color: #000000;
}

.title {
   font-family: 'Red Hat Display';
   font-style: normal;
   font-weight: 600;
   font-size: 48px;
   line-height: 64px;
   letter-spacing: 0.05em;
   color: #000000;
   @media screen and (max-width: 1199px) {
      font-size: 33px;
   }
   @media screen and (max-width: 767px) {
      font-size: 30px;
   }
}

.main-caption {
   margin-bottom: 50px;
   font-family: 'Red Hat Display';
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 166%;
   letter-spacing: 0.1em;
   color: #000000;
   @media screen and (max-width: 767px) {
      margin-bottom: 40px;
      font-size: 26px;
   }
}

.main-description {
   margin-bottom: 90px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 19px;
   line-height: 32px;
   letter-spacing: 0.05em;
   color: #565656;
   @media screen and (max-width: 767px) {
      margin-bottom: 70px;
      font-size: 16px;
   }
}
.image1 {
   background: #565656 url('/img/image1b.jpg') top center / 100% 100% no-repeat;
   height: 500px;
   margin-bottom: 90px;
   @media screen and (max-width: 1199px) {
      background: #565656 url('/img/image1m.jpg') top center / 100% 100% no-repeat;
      height: 380px;
   }
   @media screen and (max-width: 767px) {
      background: #565656 url('/img/image1s.jpg') top center / 100% 100% no-repeat;
      height: 300px;
      margin-bottom: 70px;
   }
}
.image2 {
   background: #565656 url('/img/image2b.jpg') top center / 100% 100% no-repeat;
   height: 500px;
   margin-bottom: 90px;
   @media screen and (max-width: 1199px) {
      background: #565656 url('/img/image2m.jpg') top center / 100% 100% no-repeat;
      height: 380px;
   }
   @media screen and (max-width: 767px) {
      background: #565656 url('/img/image2s.jpg') top center / 100% 100% no-repeat;
      height: 300px;
      margin-bottom: 70px;
   }
}
.image3 {
   background: #565656 url('/img/image3b.jpg') top center / 100% 100% no-repeat;
   height: 500px;
   margin-bottom: 90px;
   @media screen and (max-width: 1199px) {
      background: #565656 url('/img/image3m.jpg') top center / 100% 100% no-repeat;
      height: 380px;
   }
   @media screen and (max-width: 767px) {
      background: #565656 url('/img/image3s.jpg') top center / 100% 100% no-repeat;
      height: 300px;
      margin-bottom: 70px;
   }
}

.image4 {
   background: #565656 url('/img/image4b.jpg') top center / 100% 100% no-repeat;
   height: 500px;
   margin-bottom: 90px;
   @media screen and (max-width: 1199px) {
      background: #565656 url('/img/image4m.jpg') top center / 100% 100% no-repeat;
      height: 380px;
   }
   @media screen and (max-width: 767px) {
      background: #565656 url('/img/image4s.jpg') top center / 100% 100% no-repeat;
      height: 300px;
      margin-bottom: 70px;
   }
}

.section-footer {

   background: #F4F4F4;
   &__title {
      margin-bottom:30px;
      padding-top: 70px;
      font-family: 'Red Hat Display';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: 0.05em;
      color: #000000;
      @media screen and (max-width: 767px) {
         font-size: 32px;
      }
   }
   &__tel {
      margin-bottom: 15px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 166%;
      letter-spacing: 0.1em;
      color: #000000;
      @media screen and (max-width: 767px) {
         font-size: 18px;
      }
   }
   &__mail {
      margin-bottom: 25px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 166%;
      letter-spacing: 0.1em;
      color: #000000;
      @media screen and (max-width: 767px) {
         font-size: 18px;
      }
   }
}

.footer-info {
   display: flex;
   justify-content: space-between;
   @media screen and (max-width: 1199px) {
      flex-direction: column;
   }
   @media screen and (max-width: 767px) {
      flex-direction: column;
   }
}

.section-footer__contacts {
   @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

.rights {
   padding-bottom: 30px;
   text-align: center;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 166%;
   letter-spacing: 0.1em;
   color: #000000;
}

.socials {
   display: flex;
   align-items: center;
   @media screen and (max-width: 1199px) {
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
   }

   &__list {
      display: flex;
      gap: 23px;
      transition: .9 all;
   }
}

.list-item:hover use {
   fill: #fff;
}
.list-item {
   border: 1px solid #565656;
   padding: 13px;
   background: #F4F4F4;
}
.list-item:hover {
   background: #000000;
}


   @media screen and (max-width: 1199px) {
      
   }
   @media screen and (max-width: 767px) {
   
   }
